@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

@font-face {
  font-family: "Arimo";
  src: url("/ArimoNerdFont-Regular.woff2");
}

$background-color: #380000;
$color: #fff;
$title-color: #dc142c;
$link-color: color-mix(in oklab, $title-color, black 10%);
$on-background-color: color-mix(in oklab, $background-color, white 20%);
$on-background-border-color: color-mix(in oklab, $background-color, white 10%);

body {
  background-color: $background-color;
  color: $color;
  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
  text-align: center;
}

.mute-button {
  text-align: left;

  & > button {
    background: transparent;
    border: none;
    color: $link-color;
    cursor: pointer;
    font-family: "Crimson Text", serif;
    font-size: 1.5rem;
  }
}

h1 {
  color: $title-color;
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  color: $title-color;
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  color: $title-color;
  font-size: 2.5rem;
  font-weight: 700;
}

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.icon {
  color: $link-color;
  font-family: "Arimo", sans-serif;
  font-size: 5rem;
  text-decoration: none;
}

.left {
  text-align: left;
}

.links {
  & > a {
    color: $link-color;
    text-decoration: none;

    &:not(:last-child)::after {
      color: $color;
      content: "\00B7";
      margin-left: 0.5rem;
    }
  }
}

.logo {
  height: auto;
  width: 10rem;
}

.on-back {
  background-color: $on-background-color;
  border: 3px solid $on-background-border-color;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;

  & > img {
    border: 3px solid $on-background-border-color;
    border-radius: 0.5rem;
    height: auto;
    width: 12rem;
  }

  &.normal-height {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &:not(.normal-height) {
    min-height: 100vh;
    padding: 1rem;
  }
}
